1.	What are data structures, and why are they important?
  -	Data structures are organizational formats used to store, manage, and organize data in a way that facilitates efficient access and modification. They are fundamental building blocks in computer science and software engineering.
  Thay are important due to
   Efficiency,  Scalability, Code Optimization,  Solving Complex
  Problems, Foundation for Algorithms.

2.	 Explain the difference between mutable and immutable data types with examples.
      
      -  Mutable Data Types:
    -	 These are data types whose values can be changed after they are created.
   -	Behaviour: Modifications to a mutable object affect the original object directly.
    -	Examples in Python:	List,	Dictionary,	Set

    	Immutable Data Types:
  -	 These are data types whose values cannot be changed after they are created.
  -	Behavior: Any modification creates a new object, leaving the original object unchanged.
  -	Examples in Python:	String,	Tuple, Frozenset,Numbers (integers,   floats, etc.)

3. What are the main differences between lists and tuples in Python?
  -  Differences Between Lists and Tuples are:

     Mutability

    •	List: A list is mutable, meaning that the elements in a list can be changed after the list is created. We can modify, add, or remove elements from a list.

    •	Tuple: A tuple is immutable, meaning that once a tuple is created, its elements cannot be changed. We cannot modify, add, or remove elements in a tuple after it is created.

    Syntax
    •	List: Lists are defined using square brackets [].

    •	Tuple: Tuples are defined using parentheses ().

4. Describe how dictionaries store data.

  - 	Dictionaries in Python are powerful data structures that store
      data in key-value pairs. They provide an efficient way to organize and retrieve data, using keys as unique identifiers for values.

5. Why might you use a set instead of a list in Python?

  - 	We might use a set instead of a list in Python when our use case
      requires unique elements and/or operations like membership testing or set operations (e.g., unions, intersections) to be efficient.

6. What is a string in Python, and how is it different from a list?

    -	A string in Python is a sequence of characters enclosed within either single quotes ('), double quotes ("), or triple quotes (''' or """). It is an immutable data type, meaning that once created, it cannot be modified.

7. How do tuples ensure data integrity in Python?

  - 	Tuples ensure data integrity in Python primarily through their
      immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This behavior makes tuples a reliable choice for storing data that should remain constant throughout the program's lifecycle.
   

8. What is a hash table, and how does it relate to dictionaries in Python?

  - 	A hash table is a data structure that maps keys to values using a
      hash function. It allows for fast data retrieval, insertion, and deletion by calculating a unique hash value for each key, which determines where the value will be stored in memory.

9. Can lists contain different data types in Python?

  -   Yes, lists in Python can contain elements of different data
      types. This flexibility is one of the key features of Python lists, as they are designed to be general-purpose containers for storing and manipulating collections of objects.

10. Explain why strings are immutable in Python.

	  -  Strings are immutable in Python, meaning their content cannot be
       changed once created. This design choice provides several advantages, particularly in terms of performance, security, and consistency.

11. What advantages do dictionaries offer over lists for certain tasks?

	  -  Dictionaries in Python offer several advantages over lists
       for certain tasks, especially when dealing with key-value pairs, fast lookups, and data organization.

12. Describe a scenario where using a tuple would be preferable over a list.
  	-  Tuples are immutable sequences in Python, and they are
       preferable over lists in certain scenarios, particularly when we need fixed, unchanging data. The data should remain immutable (e.g., RGB values, coordinates).

13. How do sets handle duplicate values in Python?

    - 	In Python, sets automatically handle duplicate values by
        removing duplicates and only storing unique values. This is one of the primary features of a set.

14. How does the "in" keyword work differently for lists and dictionaries?

    -  The in keyword in Python is used to check for the membership
       of an element within a collection, but it behaves differently    depending on whether we're working with a list or a dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
    -  No, we cannot modify the elements of a tuple in Python. This is
       because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case?

    -  A nested dictionary is a dictionary in Python where the values  of the dictionary are themselves dictionaries. This allows we to create more complex data structures, where each key-value pair can hold additional key-value pairs, enabling hierarchical or multi-level data representation.

17. Describe the time complexity of accessing elements in a dictionary.
    -  In Python, dictionaries are implemented using hash tables, which
       allows for efficient element access. The time complexity of accessing elements in a dictionary is typically O(1) on average, meaning it takes constant time to retrieve a value associated with a given key, regardless of the size of the dictionary.

18. In what situations are lists preferred over dictionaries?

    -  In Python, lists and dictionaries are both commonly used data
       structures, but they serve different purposes and are preferred in different situations depending on the nature of the data and the operations we need to perform.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?

    -  Dictionaries in Python were traditionally considered unordered because the elements in a dictionary do not maintain a specific order.
    like  Efficient Key Lookup, Iteration Order .
20. Explain the difference between a list and a dictionary in terms of data retrieval.

	  -  The key difference between a list and a dictionary in Python lies in how data is stored and retrieved. Each data structure has its strengths and is optimized for different types of data retrieval.

In [1]:
# 1. Write a code to create a string with your name and print it.
name = "Nikhil Jaiswal"
print(name)

Nikhil Jaiswal

In [2]:
# 2. Write a code to find the length of the string "Hello World".
a = "Hello World"
len(a)

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
course = "python programming"
course[0:3]

'pyt'

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.
text = "hello"
text.upper()

'HELLO'

In [9]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
text.replace("apple", "orange")

'I like orange'

In [14]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [15]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1, 2, 3, 4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [20]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
list

[1, 2, 4, 5]

In [21]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd' ]
list[1]

'b'

In [22]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
list

[50, 40, 30, 20, 10]

In [24]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple = (10, 20, 30)
tuple

(10, 20, 30)

In [25]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

In [26]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1, 2, 3, 2, 4, 2)
tuple.count(2)

3

In [27]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [29]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
a = ('apple', 'orange', 'banana')
'orange' in a

True

In [31]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s = {1, 2, 3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

In [37]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.add (6)
set

{1, 2, 3, 4, 6}

In [38]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
s = (10, 20, 30)
s

(10, 20, 30)

In [39]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
t = ('apple', 'banana', 'cherry')
t[0]

'apple'

In [40]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
t = (1, 2, 3, 2, 4, 2)
t.count(2)

3

In [41]:
# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
t.index('cat')

1

In [42]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
t = ('apple', 'orange', 'banana')
'banana' in t

True

In [43]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
set = {1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [44]:
# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.add(6)
s

{1, 2, 3, 4, 6}